<<<<<<< HEAD
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

=======
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  position: relative;
  font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  background-color: #fdf5e6;
}

span{
  font-size: 18pt;
  color:#3a6341;
  font-weight: 800;
}

td {
  border: 1pt solid black;
  padding: 10pt;
  background-color: #ffffff;
  
}
/* main page classes */
>>>>>>> 9122ab398861a60ec20e171eb0495fdd9d2134bc
.header {
  padding-top: 25pt;
  text-align: center;
}

.directions {
  margin-top: 55pt;
  margin-bottom: 20pt;
  padding: 5pt;
  border-top: 1pt solid #000000;
  border-bottom: 1pt solid #000000;
  text-align: center;
}

.footer {
  position: absolute;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  clear: both;
  text-align: center;
  border-top: 2pt solid #000000;
  background-image: linear-gradient(to right, #000000, #8c8c9e 1180px, #000000 1600px)
}

.footer h2 {
  font-family: 'Arial', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  font-weight: 900;
  font-size: 25px;
}

/* main page ids */
#title {
  font-size: 40pt;
  margin-bottom: 20pt;
  color: #000000;
}

#explanation {
  font-size: 14pt;
  border-bottom: 1pt solid #000000;
  padding-bottom: 25pt;
  margin-top: 25pt;
}

/* table classes */
.row-name {
  background-color: #d8d4d4;
}


.custom-table {
  text-align: center;
  width: 75%;
  margin: auto;
}

.table-responsive {
  margin-bottom: 20px;
  margin-top: 35pt;
}


/* table ids */
#name {
 border-right: 2pt solid #fff;
}

#notes {
  border-right: 2pt solid #fff;
}

#training-one {
  border-right: 2pt solid #fff;
}

#date-one {
  border-right: 2pt solid #fff;
}

#training-two {
  border-right: 2pt solid #fff;
}

/* Modal */
form {
  margin-top: 0px;
}

@keyframes animation-1 {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Modal Classes  */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  opacity: solid;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #a6def0;
  top: 50%;
  left: 50%;
  bottom: 50%;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
  border: 20px solid #000000;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 80%;
  transform: translate(-50%, -50%);
}

.modal-header {
  /*   align-items: stretch; */
  /* font-size: 17pt; */
  box-shadow: 0 3px 1px rgb(10 10 10 / 10%);
  display: flex;
  padding-left: 30%;
  padding-top: 15pt;
  padding-bottom: 15pt;
  border-bottom: 1pt solid grey;
}

.modal-header-title {
  align-items: center;
  font-size: 19pt;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 5px 5px;
}

.modal-body {
  margin-top: 20pt;
  margin-left: 53pt;
  margin-right: 30pt;
  margin-bottom: 20pt;
}

.modal-text-area {
  color: #808080;
  border: 2pt solid #000000;
  /* width: 85%; */
  /* padding: 1%; */
  border-radius: 3px;
  display: block;
  margin-left: 2.5%;
  margin-top: 10px;
  margin-bottom: 5pt;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 300;
}

.training {
  width: 88%;
  padding: 3pt;
   cursor: text;
  background-color: #ffffff;
  color: #000000
}

.training-select {
  width: 88%;
  padding:3pt;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}

.modal-buttons {
  padding-top: 18pt;
  margin-top: 15pt;
  margin-left: 21%;

}

.modal-footer {
  margin-bottom: 50pt;
}


/* Modal ids */
#open-modal {
  background-color: #000000;
  color: #ffffff;
  font-size: 15pt;
  padding: 15pt;
  width: 15%;
  border-radius: 25px;
  margin-top: 5pt;
  margin-left: 43%;
  margin-bottom: 25pt;
}

<<<<<<< HEAD
#title {
    font-size: 200%;
}

table {
   text-align: center;
   margin: auto;
}

.row {
    background-color: lightgray;
=======
#Submit {
  background-color: #807d7d;
  color: #ffffff;
  font-size: 15pt;
  padding: 10pt;
  width: 35%;
  border-radius: 25px;
  cursor: pointer;
  
}
#Cancel {
  background-color: #807d7d;
  color: #ffffff;
  font-size: 15pt;
  margin-left: 16pt;
  padding: 10pt;
  width: 35%;
  border-radius: 25px;
  cursor: pointer;
}

#modal-content.animation-1 {
  animation: animation-1 0.5s forwards;
}


/* Calendar ids */
#calendar {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 10px;
}

#script-warning {
  display: none;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

#calendar {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 10px;
}

#calendar-box {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  padding-bottom: 140px;
}


/* counter api */
.counterapi {
  position: absolute;
  right: 46%;
  bottom: 80pt;
  margin: 0;
  padding: 0pt;
}

/* Media changes */

@media only screen and (max-width: 1280px) {
  .modal-content {
    width: 40%; /* Could be more or less, depending on screen size */
  }
  .modal-header {
    /*   align-items: stretch; */
    box-shadow: 0 3px 1px rgb(10 10 10 / 10%);
    display: flex;
    padding-left: 38%;
    border-bottom: 1pt solid grey;
}

.modal-buttons {
  margin-left: 38%;
}

td {
  border: 1pt solid black;
  padding: 8pt;
  width: 10015pt;
}
.custom-table {
  text-align: center;
  width: 220%;
  margin: auto;
}
}
@media only screen and (max-width: 1045px) {
  .modal-content {
    width: 70%; /* Could be more or less, depending on screen size */
   }
   .modal-header {
    /*   align-items: stretch; */
    box-shadow: 0 3px 1px rgb(10 10 10 / 10%);
    display: flex;
    padding-left: 34%;
    border-bottom: 1pt solid grey;
}

.modal-buttons {
  margin-left: 33%;
}
td {
  border: 1pt solid black;
  padding: 8pt;
  width: 10015pt;
}
.custom-table {
  text-align: center;
  width: 220%;
  margin: auto;
}
}

@media only screen and (max-width: 950px) {
  .modal-content {
    width: 55%; /* Could be more or less, depending on screen size */
  }
  .modal-header {
    /*   align-items: stretch; */
    box-shadow: 0 3px 1px rgb(10 10 10 / 10%);
    display: flex;
    padding-left: 37%;
    border-bottom: 1pt solid grey;
}

.modal-buttons {
  margin-left: 37%;
}
/* Page Counter API */
.counterapi {
  position: absolute;
  right: 41%;
  bottom: 90pt;
}

td {
  border: 1pt solid black;
  padding: 8pt;
}
.custom-table {
  text-align: center;
  width: 120%;
  margin: auto;
}
}

@media only screen and (max-width: 850px) {

  #open-modal {
    background-color: #000000;
    color: #ffffff;
    font-size: 15pt;
    padding: 15pt;
    width: 45%;
    border-radius: 25px;
    margin-top: 10pt;
    margin-left: 30%;
    margin-bottom: 25pt;
  }
  .modal-content {
    width: 75%; /* Could be more or less, depending on screen size */
  }
  .modal-header {
    /*   align-items: stretch; */
    box-shadow: 0 3px 1px rgb(10 10 10 / 10%);
    display: flex;
    padding-left: 37%;
    border-bottom: 1pt solid grey;
}

.modal-buttons {
  margin-left: 30%;
}
/* Page Counter API */
.counterapi {
  position: absolute;
  right: 41%;
  bottom: 90pt;
}

td {
  border: 1pt solid black;
  padding: 6pt;
}
.custom-table {
  text-align: center;
  width: 220%;
  margin: auto;
}
>>>>>>> 9122ab398861a60ec20e171eb0495fdd9d2134bc
}